# Node.js (Frontend)
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vue.js
*.env
.DS_Store
public/favicon.ico
.idea/
.vscode/
*.sublime-workspace

# Python (Backend)
__pycache__/
*.py[cod]
*.so
venv/
.venv/
env/
ENV/
*.db
instance/

# Logs & Debugging
*.log
logs/
debug.log

# OS/System Files
.DS_Store
Thumbs.db

#db_cache
db_cache/

#chroma_db
chroma_db/

#cloud_storage_key
cloud_storage_key.json